<%- include("../partials/genericHead") %>
<div style="margin:1% 5%;">
  <h1>Please Authenticate with DocuSign</h1>
  <p >
  <form class="eg" action="/ds/login" method="get" data-busy="form">
    <input type="hidden" name="auth" value="grand-auth">
    <button class="btn btn-docu btn-lg">Authenticate with DocuSign</button>
  </form>
  </p>
  <hr class="my-4">
</div>
 
